<div class="login-box">
    <div class="login-logo">
        <img src="{{ asset(theme.logo) }}" class="img-responsive" />
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">{{ "password-reset.title"|trans({}, 'cwdlogin') }}</p>
        <form action="{{ path('fos_user_resetting_send_email') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="username" placeholder="{{ "login.email"|trans({}, 'cwdlogin') }}"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-4">
                </div><!-- /.col -->
                <div class="col-xs-8">
                    <button type="submit" class="btn btn-success btn-block btn-flat {{ theme.primaryColor }}">{{ "password-reset.reset"|trans({}, 'cwdlogin') }}</button>
                </div><!-- /.col -->
            </div>
        </form>
    </div><!-- /.login-box-body -->
</div>
