{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/avanzuadmintheme/static/'~ app.environment ~'/styles/admin-lte-all.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
{% endblock %}

{% block title %}{{ "site.title"|trans }}{% endblock %}
{% block page_title %}{{ "site.title"|trans }}{% endblock %}
{% block page_subtitle %}{{ "site.subtitle"|trans }}{% endblock %}

{% block avanzu_logo %}
    <a href="#" class="logo">
        <img src="{{ asset("logo.png") }}" class="icon" width="50" alt="">
    </a>
{% endblock %}

{% block avanzu_breadcrumb %}
    {# render(controller('AvanzuAdminThemeBundle:Breadcrumb:breadcrumb', {'request':app.request, 'title' : block('page_title')})) #}
{% endblock %}

{% block flash_messages %}
    {{ parent() }}
{% endblock %}

{% block avanzu_admin_footer %}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> {{ version }}
        </div>
        <strong>Copyright &copy; {{ "now"|date('Y') }} <a href="https://cwd.at">cwd.at GmbH</a>.</strong> All rights reserved.
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var translations = {
            confirm_delete: '{{ 'generic.confirm_delete'|trans|raw }}'
        };
    </script>
    <script type="text/javascript" src="{{ asset('scripts/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/custom.js') }}"></script>

{% endblock %}
